.container {
    margin: 0 auto;
    width: 1160px;
}

.header {
    margin: 40px 0 33px;
}

.header__logo {
    cursor: pointer;

    display: block;

    margin-left: -100px;

    text-decoration: none;
    color: #000;
}

.header__logo.dark {
    color: #fff;
}

.header__logo .logo__img {
    height: 61px;
    width: 61px;
}

.header__logo .logo__content {
    margin-left: 39px;
    font-size: 61px;

    font-weight: medium;
}

.header>* {
    height: 55px;
}

.profile {
    margin-left: 35px;
}

.profile__button {
    width: 44px;
    height: 44px;

    padding: 8px;
    border-radius: 50%;

    background-color: #000;
}

.profile__button i {
    font-size: 27px;
    color: #fff;
}

section:not(:first-of-type) {
    margin-top: 54px;
}

footer.footer {
    margin-top: 126px;
    padding: 55px 0 8px;

    background-color: #000;

    color: #fff;
}

.footer__info p:not(:first-of-type) {
    margin-top: 10px;
}

.button {
    padding: 12px 21px;
    border-radius: 13px;

    font-weight: bold;
}

.button i {
    padding-left: 13px;
}

.copyright {
    margin-top: 60px;

    font-size: 10px;
    text-align: center;
}