@import './variables.css';
@import './layouts.css';
@import './helpers.css';
@import './ui.css';

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: sans-serif;
}

input[type=text]::placeholder {
    font-style: italic;
}