.search {
    cursor: text;

    margin-left: 55px;
    padding: 15px;

    min-width: 450px;

    background-color: var(--light-grey);
    border-radius: 14px;
}

.search .search__field {
    width: 100%;

    background: transparent;
    border: none;
}

.search .search__field::placeholder {
    font-size: 15px;
}

.search .search__field:focus {
    border: none;
    outline: none;
}

.search i {
    margin-left: 10px;

    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}


.buttons_toggle {
    padding: 6px;

    background-color: var(--light-grey);
    border-radius: 14px;
}

.buttons_toggle .buttons_toggle__item {
    padding: 12px 29px;

    border: none;
    background-color: transparent;

    border-radius: 8px;

    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.buttons_toggle .buttons_toggle__item:not(:last-of-type) {
    position: relative;

    margin-right: 9px;
}

.buttons_toggle .buttons_toggle__item:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: calc(100% + 4px);

    width: 1px;

    background-color: rgba(0, 0, 0, 0.2);
}

.buttons_toggle .buttons_toggle__item.active {
    background-color: #000;

    color: #fff;
}


.navigation {
    width: 20%;
}

.navigation__item {
    cursor: pointer;

    padding: 10px 20px 10px 16px;

    font-size: 16px;
    font-weight: bold;

    background-color: var(--light-grey);
    border-radius: 13px;

    text-transform: uppercase;
}

.navigation__item .navigation__icon {
    height: 28px;
    width: 28px;
}

.navigation__item:not(:first-of-type) {
    margin-top: 15px;
}

.navigation__item.active {
    padding: 20px 30px 20px 16px;

    background-color: var(--light-green);
}

.navigation__item.active .navigation__icon {
    height: 38px;
    width: 38px;
}

.page__content {
    width: 75%;
}

.page__content .page__title {
    margin-bottom: 15px;

    font-size: 45px;
    text-transform: uppercase;
}

.page__content .page__filter {
    margin-bottom: 8px;

    font-size: 15px;
    font-style: italic;

    color: rgba(0, 0, 0, 0.4);
}

.filters__item {
    padding: 13px 26px;

    font-size: 15px;
    font-weight: bold;

    background: transparent;

    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 13px;
}

.filters__item.icon {
    padding: 13px;
}

.filters__item i {
    cursor: pointer;

    margin-left: 13px;
    color: #717171;
}

.filters__item:not(:last-of-type) {
    margin-right: 15px;
}


.products {
    margin-top: 42px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.products__item {
    position: relative;
    flex-direction: column;

    padding: 17px 15px 19px;

    height: 272px;

    background: no-repeat center;

    border-radius: 30px;
    overflow: hidden;
}

.products__item>* {
    position: relative;
    z-index: 1;
}

.products__item:not(.empty):before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 35%;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, .6), transparent);
    z-index: 0;
}

.products__item:not(.empty):after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    height: 35%;
    width: 100%;

    background: linear-gradient(transparent, #000);
    z-index: 0;
}

.products__item.empty {
    border: 1px solid rgba(0, 0, 0, .04);
    text-align: center;
}

.products__item.empty .show_more {
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
}

.products__item.empty>span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}

.products__item.helmet {
    background-image: url('../images/products/helmet.png');
}

.products__item.helmet_2 {
    background-image: url('../images/products/helmet_2.png');
}

.products__item.armor {
    background-image: url('../images/products/armor.png');
    background-position: bottom;
}

.products__item.armor_2 {
    background-image: url('../images/products/armor_2.png');
    background-position: bottom;
}

.products__item.medicine {
    background-image: url('../images/products/medicine.png');
}

.products__item.backpack {
    background-image: url('../images/products/backpack.png');
}


.favourite {
    cursor: pointer;

    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;

    text-align: center;
}

.favourite i {
    font-size: 14px;
}

.favourite.favourite_big {
    width: 39px;
    height: 39px;
}

.favourite.favourite_big i {
    font-size: 19px;
}

.favourite.favourite_dark {
    background-color: #000;
    color: #fff;
}

.product__info {
    width: 70%;
    color: #fff;
}

.product__title {
    font-size: 16px;
    font-weight: bold;
}

.product__description {
    font-size: 13px;
}


.pagination {
    margin-top: 32px;
    padding-top: 17px;

    border-top: 1px solid rgba(0, 0, 0, .11);
}

.pagination__item {
    cursor: pointer;

    width: 32px;
    height: 32px;

    border-radius: 9px;
    border: 2px solid rgba(0, 0, 0, 0.4);

    color: rgba(0, 0, 0, 0.4);
}

.pagination__item:not(:first-of-type) {
    margin-left: 5px;
}

.pagination__item.active {
    border: none;

    background-color: #000;
    color: #fff;
}

.shadow {
    box-shadow: inset 0 0 18px -8px rgba(0, 0, 0, 0.04), 0 13px 15px -4px rgba(0, 0, 0, 0.09);
}

.shadow_drop {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
}

/* ZCU */

.category__field {
    margin-right: 10px;
    padding: 13px;

    background-color: var(--light-grey);
    border: none;
    border-radius: 13px;
}

.button {
    cursor: pointer;

    min-width: 105px;

    padding: 12px 19px;

    border-radius: 13px;

    border: 1px solid #7d7d7d;

    background-color: #fff;
    color: #000;
}

.button_dark {
    background-color: #000;
    color: #fff;
}

/* Product */

.history {
    margin-bottom: 33px;
}

.history .path {
    margin-left: 23px;

    font-size: 15px;
    font-style: italic;

    color: rgba(0, 0, 0, 0.4);
}

.history .path span {
    margin: 5px;
}

.product__wrapper {
    width: 58%;
}

.product__image {
    padding: 0 17px;
    padding-bottom: 8px;

    width: 100%;
    height: 391px;

    background: url('../images/fullsize_products/helmet.png') no-repeat bottom;
    border-radius: 19px;
}

.product__image .arrow {
    width: 29px;
    height: 29px;

    background-color: #fff;
    border-radius: 50%;

    color: #000;
}

.pictures__indicators {
    align-self: flex-end;
}

.pictures__indicators .indicator {
    width: 5px;
    height: 5px;

    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.pictures__indicators .indicator:not(:first-of-type) {
    margin-left: 10px;
}

.pictures__indicators .indicator.active {
    background-color: transparent;
}

.product__fullinfo {
    position: relative;

    margin-top: 35px;
    padding: 18px 31px;
    padding-bottom: 28px;
}

.product__fullinfo>.favourite {
    position: absolute;
    right: 16px;
    top: 16px;
}

.product__fullinfo>.product__date {
    margin-bottom: 17px;

    font-size: 16px;
    font-style: italic;

    color: rgba(0, 0, 0, 0.4);
}

.product__fullinfo>.product__title {
    margin-bottom: 25px;

    font-size: 30px;
}

.product__fullinfo>.buttons {
    margin-bottom: 28px;
}

.product__fullinfo>.buttons button {
    margin: 0 21px;
}

.product__fullinfo>.buttons button:not(:last-of-type) {
    position: relative;
}

.product__fullinfo>.buttons button:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: 15%;
    bottom: 15%;
    right: -23.5px;

    width: 1px;


    background-color: #000;
}

.product__fullinfo>.buttons button:first-of-type {
    margin-left: 0;
}

.product__fullinfo>.buttons button:last-of-type {
    margin-right: 0;
}

.product__fullinfo>.product__description {
    padding-top: 17px;

    width: 74%;

    border-top: 1px solid rgba(0, 0, 0, .11);
    font-size: 16px;
}

.product__fullinfo>.product__description .title {
    font-style: italic;

    color: rgba(0, 0, 0, 0.4)
}

.product__fullinfo>.product__description .content {
    margin-top: 17px;
    color: rgba(0, 0, 0, .7);
}

.border_light {
    border: 1px solid rgba(0, 0, 0, .04);
    border-radius: 18px;
}

.user__block {
    width: 37%;
}

.user__block>div:not(:first-of-type),
.user__info>div:not(:first-of-type) {
    margin-top: 25px;
}

.user_info,
.volunter__info {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding: 0 25px;
    padding-top: 32px;
    padding-bottom: 28px;

}

.volunter__info>button[type=submit] {
    position: absolute;
    top: -90px;
    left: 0;

    width: 70% !important;
}

.volunter__info.edit {
    align-items: flex-start;
}

.volunter__info.edit .user__avatar {
    align-self: center;
}

.volunter__info.edit>div>label,
.user__contacts.edit .contact>label {
    margin-bottom: 7px;
    margin-left: 15px;
    font-size: 13px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.4);
}

.block__title {
    margin-bottom: 18px;

    font-size: 16px;
    font-style: italic;

    color: rgba(0, 0, 0, 0.4);
}

.user_info>.block__title,
.volunter__info>.block__title {
    position: absolute;
    top: 24px;
    left: 27px;

    margin: 0;

    color: #000;
}

.user__avatar {
    position: relative;

    width: 123px;
    height: 123px;

    background: no-repeat center;
    border-radius: 50%;

    overflow: hidden;
}

.user__avatar>.edit {
    display: none;
}

.user__avatar.edit>.edit {
    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.user__avatar.edit>.edit i {
    font-size: 38px;
}

.user__avatar.yurchyk {
    background-image: url('../images/avatars/yurchyk.png');
}

.user__avatar.mariya {
    background-image: url('../images/avatars/maria.png');
}

.user__name {
    margin-top: 19px;
    font-size: 19px;
    font-weight: bold;
}

.volunter__info.edit>div:not(.user__avatar) {
    width: 100%;
}

.volunter__info.edit .user__region .partition {
    margin: 0 11px;
}

.volunter__info.edit .user__region .location,
.volunter__info.edit .user__region .brigade {
    width: 100%;
}

.volunter__info.edit .user__region .location>input {
    padding: 13px;
    background-color: var(--light-grey);
    border-radius: 13px;
    border: none;
}

.volunter__info.edit .user__region .brigade {
    padding: 13px;
    background-color: var(--light-grey);
    border-radius: 13px;
}

.user__profile {
    margin-top: 5px;
    font-size: 17px;
}

.user__region {
    margin-top: 22px;

    font-size: 17px;
}

.user__region .partition {
    margin: 0 25px;

    width: 1px;
    height: 32px;

    background-color: #000;
}

.user__contacts {
    padding: 24px 27px 31px;
}

.user__contacts .contact__name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
}

.user__contacts:not(:first-of-type) .contact__name {
    margin-top: 14px;
}

.user__contacts .contact__content {
    text-decoration: underline;
    font-weight: bold;
}

.user__location {
    position: relative;
    padding: 24px 18px 118px;
}

.user__location .user__address {
    font-size: 15px;
    font-weight: bold;
}

.user__location .user__address_description {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

.user__location .map {
    position: absolute;
    right: 20px;
    bottom: 20px;

    width: 142px;
    height: 100px;

    background: url('../images/location.png') no-repeat center;
}

.recommended__title {
    margin: 62px 0 48px;
    font-size: 45px;

    text-transform: uppercase;
}

.recommended_products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.completed {
    width: 100%;
    height: 96px;

    margin-bottom: 48px;

    font-size: 45px;
    font-weight: bold;

    text-transform: uppercase;

    background-color: var(--light-green);
}

.completed i {
    margin-left: 33px;

    font-size: 48px;
}

.user__response,
.volunters__points {
    width: 100%;
    margin-top: 26px;
    padding-top: 15px;

    border-top: 1px solid rgba(0, 0, 0, .11);
}

.volunters__points .points i {
    color: #D9D9D9;
}

.volunters__points .points i.active {
    color: #F0D470;
}

main.profile {
    margin-top: 112px;
}

.profile .user__info .volunter__info .button {
    margin-top: 30px;
    width: 100%;
}

.profile .user__info {
    width: 33.3%;
}

.profile .user__info .block__title {
    font-style: normal;
    color: #000;
}

.profile .user__info input.edit-field,
.user__contacts.edit .contact>input,
.volunter__social .social .social__link>input {
    padding: 13px;

    width: 100%;

    background-color: var(--light-grey);
    border-radius: 13px;

    border: none;
}

.user__contacts.edit .contact:not(:first-of-type) {
    margin-top: 7px;
}

.profile .user__contacts .contact__content {
    text-decoration: none;
}

.profile .volunter__tags {
    padding: 21px;
    padding-bottom: 28px;
}

.profile .volunter__tags .tags {
    display: flex;
    flex-wrap: wrap;
}

.profile .volunter__tags .tags .tags__item {
    margin-top: 3px;
}

.profile .volunter__tags.edit .tags .tags__item {
    padding: 6px 12px;
}

.profile .volunter__tags.edit .tags .tags__item i {
    padding-left: 3px;
}

.profile .volunter__tags .tags .tags__item:not(:nth-of-type(3n+3)) {
    margin-right: 3px;
}

.profile .volunter__about_myself {
    padding: 22px;
    min-height: 247px;
}

.profile .volunter__about_myself .about_myself__content {
    margin-top: 24px;

    font-size: 15px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .5);
}

.profile .user__works {
    margin: 0;
    width: 58%;
}

.profile .user__works .work:not(:last-of-type) {
    margin-bottom: 30px;
}

.user__works .works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.profile .user__works .work__title {
    margin-bottom: 25px;

    font-size: 45px;

    text-transform: uppercase;
}

.profile .user__works .work.done .done {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(113, 244, 92, .5);
}

.profile .user__works .work.done .done i {
    font-size: 52px;
    color: #fff;
}

.volunter__social {
    padding: 21px;
}

.volunter__social .social:not(:last-of-type) {
    margin-bottom: 15px;
}

.volunter__social .social .social__icon {
    font-size: 40px;

    color: #B5F562;
}

.volunter__social .social .social__icon.square {
    min-width: 40px;
    height: 40px;

    font-size: 24px;

    background-color: #B5F562;
    border-radius: 50%;
    color: #fff;
}

.volunter__social .social .social__link {
    width: 100%;
    margin-left: 15px;
}

.volunter__social .social .social__link>input {
    width: 100%;
}