.search {
    cursor: text;

    margin-left: 55px;
    padding: 15px;

    min-width: 450px;

    background-color: var(--light-grey);
    border-radius: 14px;
}

.search .search__field {
    width: 100%;

    background: transparent;
    border: none;
}

.search .search__field::placeholder {
    font-size: 15px;
    font-style: italic;
}

.search .search__field:focus {
    border: none;
    outline: none;
}

.search i {
    margin-left: 10px;

    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
}


.buttons_toggle {
    padding: 6px;

    background-color: var(--light-grey);
    border-radius: 14px;
}

.buttons_toggle .buttons_toggle__item {
    padding: 12px 29px;

    border: none;
    background-color: transparent;

    border-radius: 8px;

    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.buttons_toggle .buttons_toggle__item:not(:last-of-type) {
    position: relative;

    margin-right: 9px;
}

.buttons_toggle .buttons_toggle__item:not(:last-of-type)::after {
    content: '';
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: calc(100% + 4px);

    width: 1px;

    background-color: rgba(0, 0, 0, 0.2);
}

.buttons_toggle .buttons_toggle__item.active {
    background-color: #000;

    color: #fff;
}


.navigation {
    width: 20%;
}

.navigation__item {
    cursor: pointer;

    padding: 10px 20px 10px 16px;

    font-size: 16px;
    font-weight: bold;

    background-color: var(--light-grey);
    border-radius: 13px;

    text-transform: uppercase;
}

.navigation__item .navigation__icon {
    height: 28px;
    width: 28px;
}

.navigation__item:not(:first-of-type) {
    margin-top: 15px;
}

.navigation__item.active {
    padding: 20px 30px 20px 16px;

    background-color: var(--light-green);
}

.navigation__item.active .navigation__icon {
    height: 38px;
    width: 38px;
}

.page__content {
    width: 75%;
}

.page__content .page__title {
    margin-bottom: 15px;

    font-size: 45px;
    text-transform: uppercase;
}

.page__content .page__filter {
    margin-bottom: 8px;

    font-size: 15px;
    font-style: italic;

    color: rgba(0, 0, 0, 0.4);
}

.filters__item {
    padding: 13px 26px;

    font-size: 15px;
    font-weight: bold;

    background: transparent;

    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 13px;
}

.filters__item:not(:last-of-type) {
    margin-right: 15px;
}


.products {
    margin-top: 72px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.products__item {
    position: relative;
    flex-direction: column;

    padding: 17px 15px 19px;

    height: 272px;

    background: no-repeat center;

    border-radius: 30px;
    overflow: hidden;
}

.products__item>* {
    position: relative;
    z-index: 1;
}

.products__item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 35%;
    width: 100%;

    background: linear-gradient(rgba(0, 0, 0, .6), transparent);
    z-index: 0;
}

.products__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    height: 35%;
    width: 100%;

    background: linear-gradient(transparent, #000);
    z-index: 0;
}

.products__item.helmet {
    background-image: url('../images/products/helmet.png');
}

.products__item.helmet_2 {
    background-image: url('../images/products/helmet_2.png');
}

.products__item.armor {
    background-image: url('../images/products/armor.png');
    background-position: bottom;
}

.products__item.armor_2 {
    background-image: url('../images/products/armor_2.png');
    background-position: bottom;
}

.products__item.medicine {
    background-image: url('../images/products/medicine.png');
}

.products__item.backpack {
    background-image: url('../images/products/backpack.png');
}


.favourite {
    cursor: pointer;

    width: 20px;
    height: 20px;

    background-color: #fff;
    border-radius: 50%;

    text-align: center;
}

.favourite i {
    font-size: 14px;
}

.product__info {
    width: 70%;
    color: #fff;
}

.product__title {
    font-size: 16px;
    font-weight: bold;
}

.product__description {
    font-size: 13px;
}


.pagination {
    margin-top: 32px;
    padding-top: 17px;

    border-top: 1px solid rgba(0, 0, 0, .11);
}

.pagination__item {
    cursor: pointer;

    width: 32px;
    height: 32px;

    border-radius: 9px;
    border: 2px solid rgba(0, 0, 0, 0.4);

    color: rgba(0, 0, 0, 0.4);
}

.pagination__item:not(:first-of-type) {
    margin-left: 5px;
}

.pagination__item.active {
    border: none;

    background-color: #000;
    color: #fff;
}

.shadow {
    box-shadow: inset 0 0 18px -8px rgba(0, 0, 0, 0.04), 0 13px 15px -4px rgba(0, 0, 0, 0.09);
}